<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block meta %}{% endblock %}
        <link
        rel="stylesheet"
        href="\static\base.css"
        />
        

        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body> 
      
      <div class="header">

        <a href="\" style="align-content: center; justify-content: center;"> 
          <img 
          src="\static\mainlogo.gif" 
          alt="the-depressed.one logo" 
          style="width:100%; height: 100%;">
        </a> 

      </div>
      
      <div class="mainbody">
        {% block content %}
        {% endblock %}
      </div>
    </body>
</html>