{% extends "base.html" %} {% block title %}Forum{% endblock %} 


{% block content %}

<div class="forum-container1">
    <div class="loader">
        <img src="\static\loading.gif">
    </div>
    <div class="forum-container2">
    </div>
</div>

<script src="\static\scripts\forum.js"></script>

{% endblock %}

{% block overlay %}

<div class="post-overlay">
    <form method="POST">
        <textarea name="post" id="post" class="forum-text-area"></textarea>
        <br />
        <div align="center">
          <button type="submit" class="btn btn-primary">Add post</button>
        </div>
      </form>
    </div>
</div>

{% endblock %}
