{% extends "base.html" %} 

{% block meta %}
<!--<meta property="og:title" content="Site Title" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://the-depressed.one" /> -->
<meta property="og:image" content="http://3.18.225.102/static/necoarc.gif" />
<!-- <meta property="og:description" content="Site description" />
<meta name="theme-color" content="#FF0000"> -->
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<img src="\static\necoarc.gif" alt="funny cat" style="max-width:25%; height:auto">
<a>
welcome to the-depressed.one<br>
home of the famous internet person; kirb<br>
here you will find:<br>
things ive finished<br>
things ive not finished<br>
things i call finished but will probably fall about any minute now<br>
please enjoy your stay
</a>
<img src="\static\necoarc.gif" alt="funny cat" style="max-width:25%; height:auto">
{% endblock %}