{% extends "base.html" %} 

{% block title %}
Home
{% endblock %}

{% block content %}
<img src="\static\necoarc.gif" alt="funny cat" style="max-width:25%; height:auto">
<a>
welcome to the-depressed.one<br>
home of the famous internet person; kirb<br>
here you will find:<br>
things ive finished<br>
things ive not finished<br>
things i call finished but will probably fall about any minute now<br>
please enjoy your stay
</a>
<img src="\static\necoarc.gif" alt="funny cat" style="max-width:25%; height:auto">
{% endblock %}