{% extends "base.html" %} 

{% block meta %}
<!--<meta property="og:title" content="Site Title" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://the-depressed.one" /> -->
<meta property="og:image" content="http://3.18.225.102/static/necoarc.gif" />
<!-- <meta property="og:description" content="Site description" />
<meta name="theme-color" content="#FF0000"> -->
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<img src="\static\necoarc.gif" alt="funny cat" style="width:128px;height:128px;">
<a href="/crsitamasagjk/">link text</a>
{% endblock %}