{% extends "base.html" %} 
        {% block title %}
        kuncklebones
        {% endblock %} 
        {% block meta %}
        <link
        rel="stylesheet"
        href="\static\knucklebones.css"
        />
        {% endblock %}
{% block content %}
<div class="knc-lobby-container">
    <h3 class="knc-title" align="center">⚅	⚅	⚅</h3>
    <h1 class="knc-title" align="center">Knucklebones</h1>
    <h3 class="knc-title" align="center">A Online game of risk and reward</h3>

    <form method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter username"
          />
        </div>
        <div class="form-group">
          <label for="room-id">Room ID</label>
          <input
            type="room-id"
            class="form-control"
            id="room-id"
            name="room-id"
            placeholder="room-id"
          />
        </div>
        <button type="submit">Join</button>
      </form>
</div>
{% endblock %} 