.knc-lobby-container {
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.grid-container {
    display:grid
}
.grid-item {
    
}